@font-face {
	font-family: "JetBrains Mono";
	src: url("../font/JetBrainsMono-Regular.ttf");
}

html, body {
	height: 100%;
	margin: 0;
	font-family: "JetBrains Mono", sans-serif;
}

.grid-container {
	display: grid;
	grid-template: 18% 82% / 15% 85%;
	height: 100%;
}

.sidebar {
	grid-area: 1 / 1 / 3 / 2;
	background-color: #0284c7;
	color: #eeeeee;
}

.header {
	border: 1px solid red;
	grid-area: 1 / 2 / 2 / 3;
}

.main-content {
	grid-area: 2 / 2 / 3 / 3;
}

.grid-sidebar {
	display: grid;
	grid-template-columns: 15% 75%;
	gap: 9px;
	margin-top: 20px;
	align-content: center;
	align-items: center;
	justify-content: right;
	font-size: 25px;
	font-weight: bold;
}

.grid-home {
	display: grid;
	grid-template-columns: 8% 75%;
	grid-template-rows: repeat(6, 1fr);
	gap: 20px;
	margin-top: 55px;
	align-content: center;
	align-items: center;
	justify-content: right;
	font-size: 20px;
	font-weight: bold;
}

.grid-settings {
	display: grid;
	grid-template-columns: 8% 75%;
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
	margin-top: 55px;
	align-content: center;
	align-items: center;
	justify-content: right;
	font-size: 20px;
	font-weight: bold;
}

.grid-search {
	display: grid;
	grid-template-columns: 2% 66% 2% 3% 16%;
	gap: 30px;
	margin-top: 5px;
	align-content: center;
	align-items: center;
	justify-content: right;
	font-size: 18px;
	font-weight: bold;
}

.grid-search>div>input {
	width: 80%;
	height: 28px;
	border: none;
	border-radius: 15px;
	background-color: #cbd5e1;
	padding: 1px 5px 1px 5px;
	font-size: 14px;
	font-family: "JetBrains Mono", sans-serif;
}

.perfil {
	border-radius: 50%;
}

